- name: Check /dev/shm disk usage
  hosts: target   # use 'localhost' if running on Jenkins node itself
  become: yes
  gather_facts: false
  tasks:
    - name: Disk usage
      shell: df -h /dev/shm 
      register: shm_usage

    - name: Show usage
      debug:
        var: shm_usage.stdout

    - name: Fail if usage > 80%
      fail:
        msg: "/dev/shm usage crossed 80%"
      when: shm_usage.stdout | int > 80
